<!doctype html>
<html>
	<head>

		<!-- To do list's in the repository's readme: https://github.com/OmriN7/potg -->

		<!-- META TAGS AND PAGE INFO -->
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<meta charset="utf-8">
		
		<!-- Viewport -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>PotG Generator</title>
		<link rel="icon" href="/potg/res/graphics/icon.ico">
		
		<meta name="description" content="Overwatch PotG generator.">
		<meta name="author" content="Omrii">
		<meta name="keywords" content="Overwatch, Overwatch potg, potg, Play of the game, Omrii">
		
		<meta name="robots" content="index, nofollow">

		<!-- Open Graph Metatags -->
		<meta property="og:url" content="http://omrin7.github.io/potg">
		<meta property="og:title" content="Overwatch Generator">
		<meta property="og:description" content="Overwatch Generator">
		<meta property="og:image" content="/potg/res/graphics/meta-thumbnail.jpg">
		
		<!-- Twiiter Card Metatags -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:creator" content="@OmriN7">
		<meta name="twitter:url" content="http://omrin7.github.io/potg">
		<meta name="twitter:title" content="Overwatch Generator">
		<meta name="twitter:description" content="Overwatch Generator">
		<meta name="twitter:image" content="http://omrin7.github.io/potg/res/graphics/meta-thumbnail.jpg">
		
		

		<!-- STYLESHEETS -->
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

		<!-- OVERWATCH GENERATOR STYLESHEET -->
		<!-- FONTAWESOME CSS -->  
		<!-- BOOTSTRAP CSS -->  
		<link href="/potg/res/css/style.css" rel="stylesheet">
		
	</head>
	<body ng-app="potg">
		<main ng-controller="PotgController as vars">
		
			<header class="header-primary header-hide-anim fill" ng-hide="showMenu">
				<div class="pull-left header-primary__text header-primary__text--left">
					source code: <a href="https://github.com/OmriN7/potg">https://github.com/OmriN7/potg</a>
				</div>
				<div class="pull-right header-primary__text" title="My Twitter :-)">
					<i class="fa fa-twitter text-color-twitter" aria-hidden="true"></i>
					<a href="https://twitter.com/OmriN7">
						@OmriN7
					</a>
				</div>
			</header>
			
			<div class="menu menu-hide-anim" ng-hide="showMenu"> 
			
				<input id="menu-input-hide" class="input-checkbox-primary" type="checkbox" ng-model="showMenu" aria-label="Toggle ngShow">
				<label for="menu-input-hide" class="label-checkbox-primary fill text-center no-margin"></label>
				
				
				<div class="col-md-6">
					<div class="col-xs-4" ng-repeat="n in vars.lineNames track by $index">
						<div class="input-container">
							<label class="fill no-margin text-uppercase" for="{{n}}-text">{{n}}</label> 
							<input class="fill" type="text" name="{{n}}-text" ng-model=vars.scene.caption.lines[$index].text>
						</div>
						
						<div class="input-container">
							<label class="fill no-margin text-uppercase" for="{{n}}-top">{{n}}-Top</label>
							<input class="fill" type="text" name="{{n}}-top" ng-model=vars.scene.caption.lines[$index].top>
						</div>
						
						<div class="input-container">
							<label class="fill no-margin text-uppercase" for="{{n}}-left">{{n}}-Left</label>
							<input class="fill" type="text" name="{{n}}-left" ng-model=vars.scene.caption.lines[$index].left>
						</div>
					</div>
				</div>
				
				<div class="col-md-6">
					<div class="col-xs-2 col-superlight-pad">
					
						<div ng-controller="ImgUplController">
							<input class="file-input radio-input" id="radio{{0}}" type="file" accept="image/*" image="image">
							<input class="radio-input" value="{{image.url}}" ng-model=vars.scene.bgImgURL  name="radio" type="radio">
							
							<label ng-show="image.url" class="radio-label fill" style="background-image: url('{{image.url}}');" for="radio{{0}}">&nbsp;</label>
							<label ng-hide="image.url" class="radio-label fill" style="background-image: url('/potg/res/graphics/camera.jpg'); background-position: center;" for="radio{{0}}">&nbsp;</label>
						</div>
		
		
						<div>
							<input class="radio-input" value="{{vars.backgroundImages[0]}}" ng-model=vars.scene.bgImgURL  name="radio" id="radio{{1}}" type="radio">
							<label class="radio-label fill" style="background-image: url('{{vars.backgroundImages[0]}}');" for="radio{{1}}">&nbsp;</label>
						</div>
						<div>
							<input class="radio-input" value="{{vars.backgroundImages[1]}}" ng-model=vars.scene.bgImgURL  name="radio" id="radio{{2}}" type="radio">
							<label class="radio-label fill" style="background-image: url('{{vars.backgroundImages[1]}}');" for="radio{{2}}">&nbsp;</label>
						</div>
						
					</div>
					<div class="col-xs-2 col-superlight-pad" ng-repeat="column in [1, 2, 3, 4, 5] track by $index">
					
						<div>
							<input class="radio-input" value="{{vars.backgroundImages[(column*3)+0-1]}}" ng-model=vars.scene.bgImgURL  name="radio" id="radio{{(column*3)+0}}" type="radio">
							<label class="radio-label fill" style="background-image: url('{{vars.backgroundImages[(column*3)+0-1]}}');" for="radio{{(column*3)+0}}">&nbsp;</label>
						</div>
						<div>
							<input class="radio-input" value="{{vars.backgroundImages[(column*3)+1-1]}}" ng-model=vars.scene.bgImgURL name="radio" id="radio{{(column*3)+1}}" type="radio">
							<label class="radio-label fill" style="background-image: url('{{vars.backgroundImages[(column*3)+1-1]}}');" for="radio{{(column*3)+1}}">&nbsp;</label>
						</div>
						<div>
							<input class="radio-input" value="{{vars.backgroundImages[(column*3)+2-1]}}" ng-model=vars.scene.bgImgURL  name="radio" id="radio{{(column*3)+2}}" type="radio">
							<label class="radio-label fill" style="background-image: url('{{vars.backgroundImages[(column*3)+2-1]}}');" for="radio{{(column*3)+2}}">&nbsp;</label>
						</div>
						
					</div>
				</div>
			</div>
			
			<div class="scene" style="background-image: url('{{vars.scene.bgImgURL}}')">
				<div draggable class="scene__caption draggable" style="top: {{vars.scene.caption.top}}; left: {{vars.scene.caption.left}}; transform: translate({{vars.scene.caption.offsetLeft}}, {{vars.scene.caption.offsetTop}};">
					<div ng-repeat="n in vars.lineNames track by $index" class="{{n}}" style="margin-top:{{vars.scene.caption.lines[$index].top}}; margin-left: {{vars.scene.caption.lines[$index].left}}">{{vars.scene.caption.lines[$index].text}}</div>
				</div>
			</div>
			

		
		</main>
	</body>
	<script src="/potg/res/js/all.js"></script>
</html>